@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);

body { 
  font-family: 'Droid Serif', 'Sawarabi Gothic', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif; 
}
h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz', 'Rounded Mplus 1c';
  font-weight: normal;
}
a, a > code {
  color: #6495ED;
  text-decoration: none;
}
.footnote {
  position: absolute;
  bottom: 3em;
  padding-right: 4em;
  font-size: 90%;
}
.remark-code, .remark-inline-code { font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace; }
.remark-code-line-highlighted     { background-color: #ffff88; }

.inverse {
  background-color: #272822;
  color: #d6d6d6;
  text-shadow: 0 0 20px #333;
}
.inverse h1, .inverse h2, .inverse h3 {
  color: #f3f3f3;
  line-height: 1.0em;
}
/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
.pull-left {
  float: left;
  width: 45%;
}
.pull-right {
  float: right;
  width: 45%;
}
.pull-right ~ * {
  clear: both;
}
img {
  max-width: 100%;
}
blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}

/* Added styles  */

p, li {
  line-height: 1.5em;
}

.remark-slide-content {
  font-size: 25px;
}

.remark-slide-content > ul + li {
  margin-top: 20px; 
}

strong {
  color: rgb(249, 38, 114); 
  font-weight: normal;
}

.remark-slide-content .grViz {
  margin: auto;
}

.lemma, .theorem, .exercise, .proposition, .definition {
    border: 2px solid #da4033;
    border-radius: 4px;
    margin: 2em 0;
    padding: 0 2em;
    position: relative;
}
.lemma:before, .theorem:before, .exercise:before, .proposition:before, .definition:before {
    background-color: #fff;
    color: #da4033;
    font-weight: bold;
    left: 1em;
    padding: 0 .5em;
    position: absolute;
    top: -1em;
}
.lemma:before { content: "Lemma"; }
.theorem:before { content: "Theorem"; }
.exercise:before { content: "Exercise"; }
.proposition:before { content: "Proposition"; }
.definition:before { content: "Definition"; }


th, td {
    padding: 5px;
    text-align: left;
}
th {
  background-color: #4CAF50;
  color: white;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}

.small code:not(.r) {
  font-size: 40%;
}

.small {
  font-size: 80%;
}